.restaurants-map {
  min-height: 0;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  position: static;
  padding: 0 .5em;
  display: inline-block;
  @include desktop {
    width: 45%;
  }
  @include tablet {
    width: 50%;
  }
  @include mobile {
    display: none;
  }
}