.search-bar {
  display: flex;
  background-color: #fff;
  margin-bottom: 1em;
  box-shadow: 0 7px 14px -14px;
  &--by-location,
  &--by-name {
    display: none;
    align-items: center;
    padding: .3em .5em;
    &.active {
      display: flex;
      width: 100%;
    }
    @include desktop {
      display: flex;
      flex: 1;
    }
  }

  // Search types
  &--by-name {
    .icon {
    }
  }
  &--by-location {
    flex: 1;
    .zip-code {
      max-width: 150px;
    }
  }

  // The "Or" that divides the search types
  &--divider {
    color: lighten($color-text, 78%);
    font-weight: bold;
    display: none;
    padding: 0 .5em;
    @include desktop {
      display: flex;
      align-items: center;
    }
  }

  &--search-button {
    margin-left: auto;
    border-radius: 0;
    &-text {
      display: none;
      @include desktop {
        display: inline-block;
      }
    }
    .icon:before {
      @include desktop {
        margin-right: .5em;
      }
    }
  }

  // Total results under the search bar
  &--total-results {
    display: inline-block;
    margin-left: auto;
    text-align: right;
  }

  // Wraps search bar
  &--container {
    width: 100%;
    max-width: $container-max-width;
    margin: 0 auto;
    padding: .5em;
    @include tablet {
      padding: .5em .5em 1.5em;
    }
  }

  // Filters in-line with total results
  &--filters {
    display: flex;
  } 
  &--filter {
    min-width: 100px;
    display: inline-flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
    background-color: #fff;
    text-transform: capitalize;
    border: solid 1px $color-primary;
    box-shadow: 0 0 2px 0 darken($color-primary, 5%);
    cursor: pointer;
    // Chevron pointing down
    &:after {
      content: '\e906';
      font-family: $font-icons;
      color: $color-primary;
      right: .5em;
      position: absolute;
    }
    // Pop-out for the search filter
    &-options { 
      position: absolute;
      top: calc(100% + 5px);
      background-color: #fff;
      box-shadow: 0 0 2px 0 darken($color-primary, 5%);
      font-size: 1em;
      width: 100%;
      display: inline-block;
      z-index: 3;
    }
    &-option {
      margin: .2em 0;
      padding: .3em .5em;
      text-align: left;
      &:not(:first-of-type) {
        color: transparent;
      }
      &:hover {
        background-color: $color-primary;
        color: #fff;
        // The dollar signs
        .icon {
          color: transparent;
        }
        .icon.active {
          color: #fff;
        }
      }
      .icon.active {
        color: $color-text;
      }
    }
    &-label {
      width: 100%;
      font-size: 15px;
      text-align: left;
      padding: .5em;
      z-index: 1;
    }
  }

  // Button to change search by when on tablet and mobile
  &--search-by {
    display: flex;
    align-items: center;
    padding: 0 1em;
    @include desktop {
      display: none;
    }
  }

  // Inputs in the search bar
  .input {
    border: none;
    border-bottom: solid 1px lighten($color-text, 85%);
    width: 100%;
    color: lighten($color-text, 20%);
    padding: 0 .2em .2em;
    font-size: 15px;
    background-color: #fff;
    @include desktop {
      min-width: 100px;
    }
    &::placeholder {
      color: lighten($color-text, 20%);
    }
    &--container {
      padding: 0 .2em;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      @include mobile {
        padding: 0;
      }
      &:before {
        font-size: 1em;
        color: $color-secondary;
        margin-right: .2em;
      }
    }
    &:focus {
      outline: none;
    }
  }
}