// Colors
$color-primary: #0793b6 !default;
$color-secondary: lighten($color-primary, 10%) !default;
$color-accent: #f5c62d !default;
$color-text: #0a0e13 !default;
$color-favorite: #db4003 !default;
$color-map-marker: #4a4a4a !default;

// Transition speeds
$transition-default: 0.2s !default;
$transition-button: $transition-default !default;

// Fonts
$font-icons: icons !default;

// Sizes
$container-max-width: 1300px !default;

// Actions
@mixin onClick {
  &:active {
    @content
  }
};

// Animations
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg)
  }
}

@mixin spin($speed) {
  animation-name: spin;
  animation-duration: $speed;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

// Breakpoints
@mixin mobile {
  @media only screen and (max-width: 425px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 769px) {
    @content;
  }
}

@mixin desktop-xl {
  @media only screen and (min-width: 1025px) {
    @content;
  }
}


